@source "../../../../packages/ui/src/**/*.{js,ts,jsx,tsx,mdx}";
@import "tailwindcss";

/* 공통 전역 CSS import */
@import "@repo/styles/globals.css";

@layer utilities {
  @keyframes highlight {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  .highlight-pen {
    position: relative;
    display: inline-block;
  }

  .highlight-pen::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0%;
    background-color: color-mix(
      in srgb,
      var(--color-secondary) 15%,
      transparent
    ); /* 15% opacity */
    z-index: 0;
    animation: highlight 1s ease-in-out forwards;
  }

  /* 얇은 스크롤바 스타일 */
  .thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #cccccc transparent;
  }

  .thin-scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 4px;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
  }
}
