/* 공통 전역 CSS import */
@import '@repo/styles/globals.css';

@layer utilities {
  @keyframes highlight {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  .highlight-pen {
    position: relative;
    display: inline-block;
  }

  .highlight-pen::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0%;
    background-color: color-mix(
      in srgb,
      var(--color-secondary) 15%,
      transparent
    ); /* 15% opacity */
    z-index: 0;
    animation: highlight 1s ease-in-out forwards;
  }
}
